*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    font-weight: normal;
}

body {
    display: grid;
    grid-template-columns: 300px minmax(300px, 4fr);
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #0099ff;
    color: white;
    height: 100%;
}

img {
    height: 16px;
    filter: invert(1);
}

ul {
    list-style: none;
    line-height: 2;
}

li, h1 {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
}

h1 {
    padding: 20px 16px;
    font-size: 30px;
}

h1 img {
    height: 40px;
}

.main-container {
    display: grid;
    grid-template-rows: 150px 400px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.search,
label,
.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-first,
.header-last,
.intro {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
} 

.content-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.right-content {
    display: flex;
    flex-direction: column;
}

label img,
.header img {
    height: 20px;
    filter: invert(0);
}

input {
    width : 500px;
    height: 25px;
    padding-left: 8px;
    border-radius: 10px;
    background-color: rgb(225, 229, 233);
    border-style: none;
}

.header-first img[alt="User profile icon"] {
    height: 30px;
}

.header-last img {
    height: 60px;
}

.user p {
    font-size: 18px;
    font-weight: 500;
}

.hello p {
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    height: 30px;
    width: 100px;
    background-color: #0099ff;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
}